@font-face {
  font-family: "Fira Sans", Arial, sans-serif;
  src: url(fonts/FiraSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans", Arial, sans-serif;
  src: url(fonts/FiraSans-Bold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Borsok", Arial, sans-serif;
  src: url(fonts/Borsok.woff);
  font-weight: 800;
  font-style: normal;
}

body, a, nav, ul, li, h1, h2, h3, h4, span, p, button, form, input {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  list-style: none;
 }

body {
  min-width: 360px;
}

a, p, h4 {
  color: rgb(73, 72, 72);
}

.main-header {
  background-color: #deeaff;
  background-repeat: no-repeat;
 }

.wrapper-header {
  display: flex;
}

@media (max-width: 640px) {
  .main-header {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    min-height: 465px;
    background-image: url(img/header-img640.jpg);
    background-position-x: calc(50% - 50px);
    background-size: cover;
    /*background-position: center;*/
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .menu {
    display: none;
  }

  .tel-number {
    margin-right: auto;
    margin-left: auto;
  }

  .order-button {
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}


@media (min-width: 641px) and (max-width: 960px) {
  .main-header {
    min-height: 460px;
    background-image: url(img/header-bg768.jpg);
    background-position: right;
    background-size: contain;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 961px ) {
  .main-header {
    min-height: 683px;
    background-image: url(img/header-img1440.jpg);
    background-position: right bottom;
    background-size: contain;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.hamburger {
  fill: rgba(73, 72, 72, 0.8);
}

@media (max-width: 640px) {
  .logo {
    width: 43px;
    height: 43px;
  }

  .hamburger {
    width: 18px;
    height: 19px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .logo {
    width: 101px;
    height: 101px;
  }

  .hamburger {
    width: 40px;
    height: 35px;
    margin-left: auto;
    margin-top: 20px;
  }

  .menu {
    display: none;
  }
}



@media (min-width: 961px) {
  .logo {
    width: 170px;
    height: 170px;
  }

  .menu ul {
      display: flex;
  }

  .menu {
    color: rgba(73, 72, 72, 0.8);
    font-size: 23px;
    margin-left: auto;
  }

  li {
    margin-left: 40px;
  }

  li .menu-item {
    margin-right: 0;
  }

  .hamburger {
    display: none;
  }

  .tel-number {
    font-size: 23px;
    color: rgba(73, 72, 72, 0.8);
  }
}



.order-button {
  background: linear-gradient(to top right, rgb(64, 117,252), rgba(58, 112, 250, 0.49), rgba(54, 109, 249, 0.51), rgba(50, 105, 248, 0.58), rgba(43, 100, 246, 0.56), rgba(41, 98, 245, 0.72));
  color: #ffffff;
  font-family: "Fira Sans", Arial, sans-serif;
  border: none;
  border-radius: 45px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.order-button:hover {
  background-color: #2567C7
}

@media (max-width: 640px) {
  .order-button {
    width: 150px;
    height: 44px;
    font-size: 14px;
  }
}



@media (min-width: 641px) and (max-width: 960px) {
  .order-button {
    width: 172px;
    height: 40px;
    font-size: 18px;
  }

}

@media (min-width: 961px) {
  .order-button {
    width: 232px;
    height: 52px;
    font-size: 25px;
  }
}


.tel-number {
  font-weight: bold;
  font-size: 23px;
  text-decoration: underline;
}


@media (min-width: 961px) {
  .tel-number {
    margin-right: 80px;
    margin-left: 80px;
  }
}

h1 {
  font-family: "Borsok", Arial, sans-serif;
  color: rgba(73, 72, 72, 0.8);
}

.title {
  font-family: "Borsok", Arial, sans-serif;
  color: rgba(73, 72, 72, 0.8);
  /*font-size: ;*/
}

h3 {
  font-family: "Fira Sans", Arial, sans-serif;
  color: rgba(73, 72, 72, 0.8);
}

.text {
  font-family: "Fira Sans", Arial, sans-serif;
  font-weight: normal;
  color: rgb(73, 72, 72);
}

.about {
  position: relative;
 }


@media (max-width: 640px) {
  h1 {
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 85%;
  }

  .title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }


  .about {
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
  }

  .image {
    box-shadow: 0 10px 6px -6px #777;
  }

  .text {
    font-size: 15px;
    line-height: 20px;
    padding-top: 30px;
    width: 90%;
  }
}



@media (min-width: 641px) and (max-width: 960px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.4px;
    text-align: left;
    width: 55%;
    margin-top: 47px;
    margin-bottom: 47px;
  }

  .about {
    padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 70px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 20px;
   }

   .image {
     display: block;
     margin-top: 30px;
     /*margin-bottom: 35px;*/
     margin-right: auto;
     margin-left: auto;
   }

   .text {
     font-size: 18px;
     line-height: 25px;
     padding-top: 35px;
     width: 84%;
   }

  .tel-number {
    display: none;
  }

}

@media (min-width: 961px) {
  h1 {
    font-size: 55px;
    color: rgba(73, 72, 72, 0.8);
    line-height: 70px;
    letter-spacing: 0.4px;
    width: 55%;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .about {
    padding: 70px 80px 90px;
    position: relative;
  }

  .title {
    font-size: 45px;
    margin-bottom: 50px;
  }

  h3 {
    font-size: 34px;
  }

   .wrapper-about-text {
    display: flex;
  }

  .text {
    order: 1;
    font-size: 18px;
    line-height: 25px;
    padding-top: 50px;
  }

  .image {
    order: 3;
  }

  .beginning-image {
    position: absolute;
    right: 80px;
    top: 70px;
  }

  .wrapper-beginning-text {
    width: 50%;
    min-height: 460px;
    min-width: calc(100% - 580px);
  }

  .wrapper-text {
    margin-left: 75px;
  }
}

@media (max-width: 640px) {
  .about-image {
    margin-top: 30px;
  }

}

.products {
  background-color: #DEEAFF;
}

.products-title,
.facts-title,
.steps-title,
.step-title,
.feedbacks-title,
.feedback-name,
.advantages-title,
.advantage-name,
.footer-title,
.footer-text {
  text-align: center;
}

@media (max-width: 640px) {
  .products {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .card:nth-child(n+2) {
    margin-top: 20px;
  }

  .card-preview {
    display: block;
    width: 340px;
    height: 182px;
    margin-right: auto;
    margin-left: auto;
  }



  .card-description {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-top: 4px;
    /*margin-bottom: 20px;*/
  }

   .card:last-child .card-description {
    width: 55%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .products {
    padding: 50px 20px 70px;
  }

  .wrapper-products {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  .card-description {
    width: 163px;
    font-size: 18px;
    text-align: center;
    margin-top: 26px;
  }
}

@media (min-width: 961px) {
  .products {
    padding: 70px 35px 90px;
  }

  .wrapper-products {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  .card-description {
    width: 280px;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
  }
}

.facts {
  background-color: rgba(255, 204, 196, 0.12);
}

.facts-preview {
  display: block;
}

@media (max-width: 640px) {

  .facts {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .facts-title {
    margin-right: auto;
    margin-left: auto;
    width: 56%;
   }

  .facts-preview {
    width: 192px;
    height: 307px;
    margin-right: 12%;
    margin-left: 35%;
  }

  .facts-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .facts-description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .facts {
    padding: 50px 60px 70px;
  }

  .facts-preview {
    width: 282px;
    height: 470px;
    margin-right: 12%;
    margin-left: 35%;
  }

  .facts-name {
    font-size: 24px;
    font-weight: bold;
    /*text-align: center;*/
    margin-top: 30px;
    margin-bottom: 16px;
  }

  .facts-description {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    width: 83%;
  }

   .wrapper-fact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fact {
    width: 41%;
  }
}


@media (min-width: 961px) {
  .wrapper-container-facts {
    min-height: 506px;
    padding-left: 200px;
    padding-right: 27px;
  }

  .facts {
    position: relative;
    /*padding: 70px 112px 90px;*/
    padding-top: 70px;
    padding-bottom: 90px;
    /*padding-left: 112px;*/
  }

  .facts-title {
    margin-bottom: 105px;
  }

  .facts-preview {
    position: absolute;
    width: 352px;
    height: 613px;
    right: calc(50% - 256px);
    top: 139px;
  }

  .facts-name {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.5px;
    /*margin-top: 30px;*/
    margin-bottom: 20px;
  }

  .facts-description {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    width: 61%;
  }

  .wrapper-fact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fact {
    width: 36%;
  }

  .fact:nth-child(n+3) {
    margin-top: 90px;
  }

  .fact:nth-child(even) {
    width: 36%;
    box-sizing: border-box;
    padding-left: 73px;
  }

  .fact:nth-child(even) .facts-description {
    width: 76%;
  }
}



.steps {
  background-color: #DEEAFF;
}

.step-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  fill: #494848;
}


@media (max-width: 640px) {
  .steps {
    /*padding-top: 30px;*/
    /*padding-right: 70px;*/
    /*padding-left: 70px;*/
    /*padding-bottom: 30px;*/
    padding: 30px 70px 30px;
  }

   .step {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 30px;
    /*margin-bottom: 30px;*/
    padding-bottom: 20px;
  }

   .step:nth-child(n+2) {
     margin-top: 30px;
   }

   .step-title {
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 20px;
  }

  .step-icon {
    width: 64px;
    height: 50px;
    margin-bottom: 20px;

  }

  .step-description {
    text-align: center;
    width: 93%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .steps {
    padding: 50px 60px 70px;
  }

  .wrapper-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .step {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 44px;
    padding-bottom: 20px;
    width: 40%;
  }

  .step:nth-child(n+3) {
    margin-top: 50px;
  }

  .step-icon {
    width: 75px;
    height: 70px;
  }

  .step-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-top: 26px;
    margin-bottom: 24px;
  }

  .step-description {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

  }
}

@media (min-width: 961px) {
  .steps {
    padding: 70px 50px 90px;
  }

  .wrapper-steps {
    display: flex;
    justify-content: space-between;
  }


  .step {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 40px;
    width: 23%;
  }

   .step-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-top: 60px;
    margin-bottom: 36px;
  }

  .step-description {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 65%;
    margin-right: auto;
    margin-left: auto;

  }

  .step-icon {
    width: 110px;
    height: 80px;
  }
}

.feedbacks {
  position: relative;
  box-shadow: 0 10px 6px -6px #777;
}

@media (max-width: 640px) {
  .feedbacks {
    padding: 30px 35px 30px;
  }

  .feedback:nth-child(2) {
    margin-top: 30px;
  }

  .feedback-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
   }

  .feedback-text {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
   }
}

@media (min-width: 641px) and (max-width: 960px) {
  .feedbacks {
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 15px;
  }

  .feedback {
    width: 35%;
  }

  .wrapper-feedbacks {
    display: flex;
    justify-content: space-around;
  }

  .feedback-name {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }

  .feedback-text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
  }
}

@media (min-width: 961px) {
  .feedbacks {
    padding-top: 70px;
    padding-bottom: 90px;
    padding-left: 80px;
  }

  .feedback {
    width: 27%;
  }

  .wrapper-feedbacks {
    display: flex;
    justify-content: space-around;
  }

  .feedback-name {
    font-size: 25px;
    font-weight: bold;
    line-height: 34px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }

  .feedback-text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
  }
}


.advantages {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
 }

.advantages::after {
  content: "";
  position: absolute;
  background-color: rgba(229, 229, 229, 0.1);
  opacity: 0.5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.advantage-name,
.advantage-description {
  color: #000000;
}

.advantages-title {
  /*color: #494848;*/
  color: rgba(0, 0, 0, 0.65);
}

.advantage-icon {
  fill: #575252;
  flex: none;
}

@media (max-width: 640px) {
  .advantages {
    background-image: url(img/background640.jpg);
    min-height: 600px;
    padding: 30px 45px 30px;
  }

  .advantages-title {
    font-size: 18px;
    font-weight: bold;
  }

  .advantage-name {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .wrapper-container-like:first-child .advantage-name {
    margin-top: 0;
  }

  .advantage-icon {
    width: 30px;
    height: 30px;
    margin-right: 17px;
  }

  .wrapper-like,
  .wrapper-dislike {
    display: flex;
  }

  .wrapper-dislike:nth-child(n+3),
  .wrapper-like:nth-child(n+3) {
    margin-top: 16px;
  }
}


@media (min-width: 641px) and (max-width: 960px) {
  .advantages {
    background-image: url(img/background768.jpg);
    min-height: 612px;
    padding: 70px 15px 50px;
  }

  .advantages-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .advantage-name {
    font-size: 20px;
    line-height: 25px;
    width: 97%;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper-container-like:nth-child(2) .advantage-name {
    width: 30%;
  }

  .advantage-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .advantage-description {
    font-size: 18px;
    line-height: 22px;
  }

  .wrapper-dislike,
  .wrapper-like,
  .wrapper-container {
    display: flex;
  }


  .wrapper-dislike:last-child,
  .wrapper-like:nth-child(n+3) {
    margin-top: 35px;
  }

   .wrapper-dislike > .advantage-description {
    width: 73%;
  }

  .wrapper-like > .advantage-description {
    width: 65%;
  }

  .wrapper-like {
    box-sizing: border-box;
    padding-left: 105px;
  }

  .wrapper-like:first-child .advantage-description {
    width: 76%;
  }

  .wrapper-container {
    display: flex;
  }
}


@media (min-width: 961px) {

  .advantages {
    background-image: url(img/background1440.jpg);
    min-height: 612px;
    padding: 70px 110px 90px;
  }

  .advantages-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 90px;
    }

  .advantage-name {
    font-size: 26px;
    line-height: 32px;
    width: 93%;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper-container-like:nth-child(2) .advantage-name {
    width: 25%;
  }

  .advantage-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .advantage-description {
    font-size: 20px;
    line-height: 22px;
  }

  .wrapper-dislike,
  .wrapper-like,
  .wrapper-container {
    display: flex;
  }

  .wrapper-dislike {
    padding-left: 100px;
    /*align-items: center;*/
   }


  .wrapper-dislike:last-child,
  .wrapper-like:nth-child(n+3) {
    margin-top: 35px;
  }

  .wrapper-dislike > .advantage-description {
    width: 73%;
    padding-top: 6px;
  }

  .wrapper-like > .advantage-description {
    width: 65%;
   }

  .wrapper-like {
    box-sizing: border-box;
    padding-left: 180px;
    align-items: center;
  }

  .wrapper-like:first-child .advantage-description {
    width: 76%;
  }

  .wrapper-container {
    display: flex;
  }

  .advantage-icon {
    width: 47px;
    height: 47px;
    margin-right: 20px;
  }
}


.subscribe {
  background-color: rgba(255, 204, 196, 0.12);
}

.subscribe-icon {
  fill: #F2933B;
  opacity: 0.51;
}

.subscribe-title {
  font-weight: bold;
}

.wrapper-check {
  display: flex;
  align-items: center;
}

.form-row {
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: #494848;
}

.form-row:focus {
   box-shadow: 0 0 3px #0000ff;
}

.subscribe-button {
  border: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 45px;
  cursor: pointer;
  color: #ffffff;
  background-color:#DEEAFF;
  background: linear-gradient(to top right, rgb(64, 117,252), rgba(58, 112, 250, 0.49), rgba(54, 109, 249, 0.51), rgba(50, 105, 248, 0.58), rgba(43, 100, 246, 0.56), rgba(41, 98, 245, 0.72))
}

@media (max-width: 640px) {
  .subscribe {
      padding: 30px 25px 50px;
  }

  .subscribe-text {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 68%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .subscribe-title {
    width: 85%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .subscribe-icon {
    width: 30px;
    height: 30px;
    flex: none;
    margin-right: 17px;
  }

  .subscribe-description {
    font-size: 16px;
    line-height: 22px;
    width: 80%;
  }

  .wrapper-check {
    margin-bottom: 32px;
  }

  .form-row {
    width: 310px;
    height: 45px;
    box-sizing: border-box;
    padding-left: 24px;
    font-size: 15px;
  }

 .subscribe-hint:nth-child(n+2) .form-row {
    margin-top: 26px;
  }
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.subscribe-button:hover {
  background-color: #2567C7;
}

@media (max-width: 640px) {
  .subscribe-button {
    display: block;
    width: 150px;
    height: 44px;
    font-size: 14px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .subscribe {
    padding: 70px 60px 50px;
  }

  .subscribe-text {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 66%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .subscribe-title {
    width: 85%;
    font-size: 24px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .subscribe-icon {
    width: 44px;
    height: 44px;
    flex: none;
    margin-right: 20px;
  }

  .subscribe-description {
    width: 34%;
    font-size: 18px;
    line-height: 22px;
  }

  .wrapper-check:nth-child(n+4) {
    margin-top: 16px;
  }

  .subscribe-form {
    width: 374px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .form-row {
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 18px;
  }

  .subscribe-hint:nth-child(n+2) .form-row {
    margin-top: 20px;
  }

  .subscribe-button {
    display: block;
    width: 220px;
    height: 50px;
    font-size: 18px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 961px) {
  .subscribe {
    padding: 70px 60px 90px;
  }

  .subscribe-icon {
    width: 66px;
    height: 66px;
    flex: none;
    margin-right: 30px;
  }

  .subscribe-text {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    width: 42%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
  }

  .subscribe-title {
    width: 85%;
    font-size: 26px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .subscribe-description {
    font-size: 22px;
    line-height: 27px;
    width: 46%;
  }

  .wrapper-check:nth-child(n+2) {
    margin-top: 16px;
  }

  .wrapper-subscribe {
    display: flex;
  }

  .subscribe-form {
     width: 50%;
  }

  .form-row {
    width: 480px;
    height: 60px;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 22px;
  }

  .subscribe-hint:nth-child(n+2) .form-row {
    margin-top: 36px;
  }

  .subscribe-button {
    display: block;
    width: 240px;
    height: 52px;
    font-size: 23px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}

.main-footer {
  background-color: rgba(37, 103, 199, 0.54);
}

.footer-icon {
  fill: #ffffff;
}

.wrapper-footer-icons {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.footer-text {
  display: block;
  color: #494848;
}

@media (max-width: 640px) {
  .main-footer {
    padding-top: 30px;
    padding-bottom: 6px;
  }

  .footer-title {
    font-size: 18px;
  }

  .wrapper-footer-icons {
    width: 55%;
    margin-top: 20px;
    margin-bottom: 35px;
  }


  .footer-icon {
    width: 22px;
    height: 22px;
  }

  .footer-text {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .main-footer {
    padding-top: 50px;
    padding-bottom: 15px;
  }

  .footer-title {
    font-size: 18px;
  }

  .wrapper-footer-icons {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .footer-icon {
    width: 24px;
    height: 24px;
  }

   .footer-text {
     font-size: 16px;
  }
}

@media (min-width: 961px) {
  .main-footer {
    padding-top: 60px;
    padding-bottom: 23px;
  }

  .footer-title {
    font-size: 30px;

}

  .wrapper-footer-icons {
    width: 30%;
    margin-top: 35px;
    margin-bottom: 70px;
  }

  .footer-icon {
    width: 60px;
    height: 60px;
  }

  .footer-text {
    font-size: 30px;
  }
}

